html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  line-height: 35px;
}

main {
	text-align: center;
	margin-top: 250px;
  line-height: 60px;
  color: #ffffff;
}

.big-thin-text  {
	font-family: 'Lato', sans-serif;
	font-size: 250px;
	text-shadow: 1px 1px #000;
}

.under-text {
  font-family: 'Vollkorn', serif;
  font-size: 23px;
}
